{% extends "base.html.twig" %}

{% block title %}
    {%  trans %} default.contact.contact {% endtrans %}
{% endblock %}

{% block body %}
    <h1> {%  trans %} default.contact.h1 {% endtrans %} </h1>
    <b> {%  trans %} default.contact.tel {% endtrans %}</b> 00.00.00.00.00 </br>
    <b> {%  trans %} default.contact.mail {% endtrans %}</b> contact@boutique.com </br>
    <b> {%  trans %} default.contact.adresse {% endtrans %}</b> Rue de la boutique, 75000 Paris FRANCE </br>
{% endblock %}

